@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #0D192C;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 327px;
  background-color: #15263F;
  border-radius: 15px;
  padding: 1.5rem;
}

picture {
  display: inline-block;
}

.main-img {
  object-fit: contain;
  width: 100%;
  border-radius: 8px;
  
}

.box-content {
  margin-top: 1rem;
}

.box-content h1 {
  font-size: 1.375rem;
  font-weight: 600;
  color: #FFFFFF;
}

.paragraph-1 {
  color: #8BACD9;
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.5;
  margin: 1rem 0;
}

.paragraph-2 {
  display: flex;
}

.eth-box {
  display: flex;
  gap: 6.5px;
}

.ETH {
  color: #00FFF8;
}

.eth-img {
  height: 1.5em;
}

.clock { 
  color: #8BACD9;
  text-align: center;
  justify-content: flex-end;
}

.clock-box {
  display: flex;
  gap: 6.5px;
  margin-left: auto;
}

.clock-img {
  height: 1.5em;

}

.divider {
  border-top: 1px solid #2E405A;
  margin: 1rem 0;
}

.jules-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 12%;
}

.jules-paragraph {
  color: #FFFFFF;
}

.jules-box span {
  color:#8BACD9;
}

@media screen and (min-width: 768px) {

.main-box {
  max-width: 350px;
}

.box-content {
  margin-top: 1.5em;
}

.paragraph-1 {
  margin: 0.889em 0 1.334em 0;
}


  
}