@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #0D192C;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 327px;
  background-color: #15263F;
  border-radius: 15px;
  padding: 1.5rem;
}

picture {
  display: inline-block;
  /* margin: 25px; */
}

/* .img-section {
  width: 278px;
  height: 278px;
  margin: 0 auto;
} */

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: inline-block;
}

.box-content {
  /* margin-left: 25px; */
  margin-top: 1rem;
}

.box-content h1 {
  font-size: 1.375rem;
  font-weight: 600;
  color: #FFFFFF;
}

.paragraph-1 {
  color: #8BACD9;
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.5;
  margin-top: 1rem;
  /* margin: 12px 25px 16px 0px; */
  
}

.paragraph-2 {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ETH {
  /* display: inline-block;
  width: 50%; */
  color: #00FFF8;
 

}

.eth-img {
  height: 1.5em;
  /* width: 30%;
  height: 30%; */
}

.clock { 
  /* display: inline-block;
  width: 50%; */
  color: #8BACD9;
  text-align: center;
  justify-content: flex-end;
  
}

.clock-img {
  height: 1.5em;
  /* width: 30%;
  height: 30%; */
}
